@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Oswald:wght@300;400;500&family=Poppins:wght@500&family=Shadows+Into+Light&display=swap');
*{
    margin: 0;
}
body::-webkit-scrollbar {
  width: 9px;
}
body::-webkit-scrollbar-track {
  background: #fff;
}
body::-webkit-scrollbar-thumb {
  background:linear-gradient(45deg,rgb(3, 104, 235),rgb(215, 215, 29));
  border-radius: 50px;
}


.agenda-section{
    height: 170vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9) ), url(../imgs/img5.png);
    
}

.agenda-section h1{
     color: rgb(217, 223, 102);
     font-size: 40px;
}

.agenda{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80%;
}

.agenda button{
    display: none;
}

.container-day{
    position: relative;
    height: auto;
    width: 28%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.container-day h2{
    color: rgb(255, 255, 255);
    align-self: center;
    margin-bottom: 10%;
    background-color:  rgb(38, 112, 193);
    border-radius: 10px;
    padding: 7px;
}

.oneday{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:rgb(38, 112, 193) ;
    border-radius: 18px;
}

#day2{
    
    padding-top:5% ;
    padding-bottom: 5% ;
}

#day3{
    
    padding-top:20% ;
    padding-bottom: 20% ;
}

#day3 .bloc{
    margin-bottom: 15%;
    align-content: center;
}

.bloc{
    padding-bottom: 6.5%;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 2px solid rgb(225, 230, 161);
    border-bottom-left-radius: 8px;
}
.bloc p{
    margin-bottom: 2%;
    height: 40%;
    text-align: center;
}

.time{
    color: yellow;
}

.event{
    color: white;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (max-width : 1000px){
    .agenda-section{
        height: auto;       
        
    }
    .agenda{
        
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
    }



    .container-day{
        align-self: center;
        height: auto;
        width: 60%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }


    .container-day h2{

        width: 95%;
        text-align: center;

    }

    .bloc{
        padding-top: 6.5%;
    
    }

  #d2,#d3{
    display: none;
  }
  
  #btn1{
    padding: 8px;
    margin-top: 8%;
    background-color: aqua;
    margin-bottom: 5%;
    align-self: center;
    display: block;
   width: 100px;
   border-radius: 10px;
   border: 2px solid transparent;
    cursor: pointer;
  }

  #btn1:hover{
 
   
    
   border: 2px solid #23cbcb;
  
  }

  #d1.showing{
    display: block;
  }

  #d2.showing{
    display: block;
  }

  #d3.showing{
    display: block;
  }

  #d1.hide{
    display:none;
  }

  #d1.hide{
    display:none;
  }

  #d1.hide{
    display:none;
  }
}
